h2 {
    font-family: 'Grandstander', cursive;
    font-size: 3em;
    text-align: center
}

ul {
    list-style-type: none;
}

button {
    width: 5em;
    height: 2em;
    border: none;
    font-size: 2em;
    background-color: black;
    color: white;
    align-items: center;
}

.slide-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

#grid-slider {
    
}

.content {
    display: flex;
    margin: 3% 10% 3% 10%;
    flex-direction: column;
}

.settings {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 0px;
}

#grid-container {
    display: grid;
    border: gray;
    border-style: solid;
    height: 200px;
    width: 200px;
    margin: auto;
    
}